<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<audio id="background" src='sound/background.mp3'></audio>
<audio id="rightsound" src='sound/right.mp3'></audio>
<audio id="wrongsound" src='sound/wrong.mp3'></audio>

<div id="pre-start">
    <select id="problem-set">
    </select>
    <button id="start">Start!</button>
</div>

<!-- Shown when the player wins/loses -->
<div id="game-over">
</div>

<!-- The actual game markup -->
<!-- templates/game.html -->
<h2>Câu hỏi số {{ session['level'] }}: {{ question[1] }}</h2>
<form action="/answer" method="post">
    <input type="hidden" name="correct" value="{{ question[6] }}">
    <button name="answer" value="A">A: {{ question[2] }}</button>
    <button name="answer" value="B">B: {{ question[3] }}</button>
    <button name="answer" value="C">C: {{ question[4] }}</button>
    <button name="answer" value="D">D: {{ question[5] }}</button>
</form>


<!-- Script inclusion: JQuery for effects, Knockout for MVVM, millionaire.js for application -->
<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="js/knockout-3.0.0.js"></script>
<script type="text/javascript" src="js/millionaire.js"></script>
</body>
</html>